<!-- <h2>Países</h2>
<hr> -->

<!-- <ul class="list-group"> -->
    <!-- <li
     routerLink=""
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true}"
     class="list-group-item">
        Home Page
    </li>
    <li 
     routerLink="about"
     routerLinkActive="active"
     class="list-group-item">
        About Page
    </li>
    <li 
     routerLink="contact"
     routerLinkActive="active"
     class="list-group-item">
        Contact Page
    </li> -->
    <!-- <li 
     routerLink="countries/by-capital"
     routerLinkActive="active"
     class="list-group-item">
        Por Capital
    </li>
    <li 
     routerLink="countries/by-country"
     routerLinkActive="active"
     class="list-group-item">
        Por País
    </li>
    <li 
     routerLink="countries/by-region"
     routerLinkActive="active"
     class="list-group-item">
        Por Región
    </li>
</ul> -->

<!-- <br> -->
<h2>Empleados</h2>
<hr>

<ul class="list-group">
    <!-- En estos routerLink se debe hacer mención tambien
         a la ruta padre -->
    <li
     routerLink="empleados/all-empleados"
     routerLinkActive="active"
     class="list-group-item">
        Buscar Empleados
    </li>
    <!-- <li
     routerLink="empleados/empleados-by-id"
     routerLinkActive="active"
     class="list-group-item">
        Buscar Empleado por ID
    </li> -->
    <li
     routerLink="empleados/registrar-empleado"
     routerLinkActive="active"
     class="list-group-item">
        Registrar Empleado
    </li>
</ul>