<h2>Por AlphaCode</h2>
<hr>

<ng-template #loading>
    <div class="alert alert-info">
        Espere por favor
    </div>
</ng-template>

<div *ngIf="country; else loading">
    <div class="row">
        <div class="col-12">
            <h2>País: <strong>{{country.name.common}} </strong></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
        </div>
        
        <div class="col">
            <h3>Inforamación</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población: </strong>{{country.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Código: </strong>{{country.cca3}}
                </li>
                <li class="list-group-item">
                    <strong>Capital: </strong>{{country.capital}}
                </li>
            </ul>
        </div>

        <div class="row mt-2">
            <div class="col">
                <h3>Traducciones</h3>

                <div class="d-flex flex-wrap">
                    <span class="badge bg-primary m-1">Español: {{country.translations['spa'].common}} </span>
                    <span class="badge bg-primary m-1">Frances: {{country.translations['fra'].common}} </span>
                    <span class="badge bg-primary m-1">Italiano: {{country.translations['ita'].common}} </span>
                    <span class="badge bg-primary m-1">Japones: {{country.translations['jpn'].common}} </span>
                    <span class="badge bg-primary m-1">Koreano: {{country.translations['kor'].common}} </span>
                    <span class="badge bg-primary m-1">Ruso: {{country.translations['rus'].common}} </span>
                </div>
            </div>

        </div>
    </div>
</div>

